.we-see_homenav {
    background-color: #ff7f00; 
    color: #fff; 
    font-size: 1.25rem;
    text-align: center;
    top: 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0.25rem; 
    position: fixed;
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    margin: 0; 
    
}

.we-see_homenav-right {
    display: flex;
    align-items: center;
}

.we-see_homenav-logo {
    font-size: 2.2rem;
    font-weight: bold;
    padding-right: 6rem;
}

.we-see_homenav-tags {
    display: flex;
    align-items: center;
}

.we-see_homenav-tags h4 {
    font-size: 1.5rem;
    margin: 0 1rem;
    cursor: pointer;
}

.we-see_homenav-logout {
    font-size: 1.5rem;
    cursor: pointer;
    padding-right: 1rem;
}

@media (max-width: 1610px) {
    .we-see_landing {
        padding: 2rem;
        justify-content: center;
        text-align: center;
    }

    .we-see_landing-text {
        max-width: 100%;
    }

    .we-see_landing-text h1 {
        font-size: 3rem;
    }

    .we-see_landing-text h4 {
        font-size: 1.5rem;
        padding-left: 0;
        max-width: 100%;
    }

    .we-see_landing-logo {
        max-width: 80%;
    }
}

@media (max-width: 1350px) {
    .we-see_landing {
        padding: 1rem;
        justify-content: center;
        text-align: center;
    }

    .we-see_landing-text {
        max-width: 100%;
    }

    .we-see_landing-text h1 {
        font-size: 2.3rem;
    }

    .we-see_landing-text h4 {
        font-size: 1.5rem;
        padding-left: 0;
        max-width: 100%;
    }

    .we-see_landing-logo {
        max-width: 100%;
    }
}


@media (max-width: 1140px) {
    .we-see_landing {
        padding: 2rem;
        justify-content: center;
        text-align: center;
    }

    .we-see_landing-text {
        max-width: 100%;
    }

    .we-see_landing-text h1 {
        font-size: 2rem;
    }

    .we-see_landing-text h4 {
        font-size: 1.5rem;
        padding-left: 0;
        max-width: 100%;
    }

    .we-see_landing-logo {
        padding-left: 0;
        max-width: 100%;
    }
}

@media (max-width: 970px) {
    .we-see_landing {
        padding: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .we-see_landing-text h1 {
        font-size: 2rem;
    }

    .we-see_landing-text h4 {
        font-size: 1.25rem;
        padding-left: 8.5rem;
        text-align: center;
        max-width: 70%;
    }

    .we-see_landing-logo {
        padding-left: 0;
        width: 100%;
    }
}